version: '3.7'

# Not run through traefik, causes too much slowdown: instead, using a DNS SRV rule.
services:
  teamspeak:
    image: teamspeak:3.13.7
    container_name: teamspeak
    restart: always
    ports:
      - 9987:9987/udp       #udp voice port
      - 10080:10080
      - 30033:30033         #file transfer port
    env_file: ./secrets/teamspeak.secret
    volumes:
      - ./data:/var/ts3server/
    networks:
      - teamspeak
  db:
    image: mariadb:11.0.3
    container_name: teamspeak-db
    restart: always
    env_file: ./secrets/teamspeak.secret
    volumes:
      - ./dbvolume:/var/lib/mysql
    networks:
     - teamspeak


networks:
  teamspeak:
    external: false
