version: "3.5"

networks:
  traefik_default:
    external: true
  joplin_default:
    external: false

services:
  joplin:
    image: joplin/server:2.14.1-beta
    container_name: joplin
    restart: always
    env_file: ./secrets/joplin.secret
    networks:
      - traefik_default
      - joplin_default
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.joplin.rule=Host(`joplin.hugowillaume.com`)"
      - "traefik.http.routers.joplin.entrypoints=websecure"
      - "traefik.http.routers.joplin.tls.certresolver=myhttpchallenge"
      - "traefik.http.services.joplin.loadbalancer.server.port=22300"

  db:
    image: postgres:16
    container_name: joplin_db
    restart: always
    networks:
      - joplin_default
    env_file: ./secrets/joplin_db.secret
    volumes:
        - ./joplin_data/postgres:/var/lib/postgresql/data
#    ports:
#        - "5432:5432"
