/adminscripts/Syrupy/*.log
/adminscripts/Syrupy/*.raw
/adminscripts/hub_token
/ftp/conf-*
/ftp/home-*
/gitea/gitea_data
/gitea/postgres
/joplin/joplin_data
/notes/standardfile.db
/notes/standardfile.yml
/recipes/mealie
/teamspeak/data
/teamspeak/dbvolume
/terraria/config
/traefik/letsencrypt
/traefik/.env
/wizz/app/venv
*.secret
