APP_PORT=22300
APP_BASE_URL=https://joplin.hugowillaume.com
DB_CLIENT=pg
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DATABASE=POSTRES_DATABASE
POSTGRES_USER=POSTGRES_USER
POSTGRES_PORT=5432
POSTGRES_HOST=db
