services:
  hangftp:
    image: drakkan/sftpgo:v2.6.6-alpine-slim
    container_name: hang_ftp
    restart:always
    networks:
      - traefik_default
    volumes:
      - /mnt/Music:/srv/sftpgo/data
      - ./conf-hangsftpgo:/var/lib/sftpgo
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hangftp.rule=Host(`sftp.hang.hugowillaume.com`)"
      - "traefik.http.routers.hangftp.entrypoints=websecure"
      - "traefik.http.routers.hangftp.tls.certresolver=myhttpchallenge"
      - "traefik.http.services.hangftp.loadbalancer.server.port=8080"
      - "traefik.http.routers.hangftp.middlewares=traefik-forward-auth"

networks:
  traefik_default:
    external: true 
