<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="WIZZZZZZZZZZZZZZZZZZZ" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}"/>

    <title>Get wizzed son</title>
</head>

<main>
<img id="msn" src="{{ url_for('static', filename='imgs/msn.png') }}" style="cursor: pointer;"/>
</main>

<audio id="myAudio" controls autoplay style="display: none">
  <source src=" {{ url_for('static', filename='files/wizz.mp3') }} " type="audio/mpeg">
</audio>

<script>

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

var button = document.getElementById("msn");
button.addEventListener("click",function(e)
{    
    var audio = new Audio('{{ url_for('static', filename='files/wizz.mp3') }} ')
    audio.play();
    button.classList.add("shook");
    sleep(500).then(() => {
        button.classList.remove("shook");
    });
} ,false);

document.addEventListener('DOMContentLoaded', function() {

button.classList.add("shook");
sleep(500).then(() => { button.classList.remove("shook") });

});

</script>
</html>


</html>

</script>


</html>
